{% extends 'base.html.twig' %}

{% block body %}


    <!-- Services-->
    <section class="page-section pt-0" id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-pen-fancy fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3">Blog</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="far fa-lightbulb fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3">Cheat sheet</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="far fa-file fa-stack-1x fa-inverse"></i>
                        </span>
                    <h4 class="my-3">Curriculum vitæ</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- article Grid-->
    <section class="page-section bg-light" id="article">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Les derniers articles</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="article-item">
                        <a class="article-link" data-toggle="modal" href="#articleModal1">
                            <div class="article-hover">
                                <div class="article-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ asset('build/portfolio/04-thumbnail.jpg') }}" alt="" />
                        </a>
                        <div class="article-caption">
                            <div class="article-caption-heading">Article 1</div>
                            <div class="article-caption-subheading text-muted">subtitle</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="article-item">
                        <a class="article-link" data-toggle="modal" href="#articleModal2">
                            <div class="article-hover">
                                <div class="article-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ asset('build/portfolio/05-thumbnail.jpg') }}" alt="" />
                        </a>
                        <div class="article-caption">
                            <div class="article-caption-heading">Article 2</div>
                            <div class="article-caption-subheading text-muted">subtitle</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="article-item">
                        <a class="article-link" data-toggle="modal" href="#articleModal3">
                            <div class="article-hover">
                                <div class="article-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ asset('build/portfolio/06-thumbnail.jpg') }}" alt="" />
                        </a>
                        <div class="article-caption">
                            <div class="article-caption-heading">Article 3</div>
                            <div class="article-caption-subheading text-muted">subtitle</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © kamilabs 2020</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/jvancoillie"><i class="fab fa-github"></i></a>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <a class="mr-3" href="#!">Vie privée</a>
                    <a href="#!">Conditions</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- article Modals-->
{% endblock body %}